#control-panel {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}
#format-actions {
    width: 200px;
    margin-right: 400px;

    button {
        margin-right: 5px;
    }

    .synonyms {
        span {
            padding-right: 5px;
            &:hover {
                color: aqua;
            }
        }
    }

    .active {
        color: red;
    }
}
